.table-element-color {
    margin: 0px auto;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.table-element-color:hover {
    border: 3px solid black;
    filter: brightness(150%)
}
